<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Resume</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <style>
        body{
            background-image: linear-gradient(to left,rgb(140, 126, 243),rgb(102, 246, 176));
        }
    </style>
</head>
<body>
    <div class="container">
        <center><h1>Resume</h1></center>
        <h2>Name : {{name}}</h2>
        <h2>Email : {{email}}</h2>
        <hr>
        <h3>About: </h3>
        <p>{{about}}</p>
        <hr>
        <h3>College :{{college}}</h3>
        <hr>
        <h3>Degree : {{degree}}</h3>
        <hr>
        <h3>Project : </h3>
        <p>{{project}}</p>
        <form action="{% url 'download' id=id %}">
            <button type="submit" class="btn btn-primary" >Download Resume</button>
        </form>
    </div>
</body>
</html>