{%load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume builder</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.min.css">
    <style>
        button[name="logout"]{
            position: absolute;
            right: 50px;
            padding: 10px;
            margin-top: 20px;
        }
        body{
            background-image: linear-gradient(to left,rgb(140, 126, 243),rgb(102, 246, 176));
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="{%url 'logout'%}">
            <button class="btn btn-danger" name="logout">Logout</button>
        </form><br>
        <form action="{%url 'resume_list'%}">
            <button class="btn btn-success">Resume-list</button>
        </form>
        <form method="post">
            <h1><center>Resume Builder</center></h1>
            {% csrf_token %}
            {{form|crispy}}
            <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </form>
        {% if messages %}
        {% for message in messages %}
        <script>
            alert("{{message}}")
        </script>
        {%endfor%}
        {%endif%}
    </div>
</body>
</html>